@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary-color: #15e62e;
  --font-baloo: "Baloo 2", cursive;
  --font-montserrat: "Montserrat", sans-serif;
}

/* baloo-2-latin-wght-normal */
@font-face {
  font-family: 'Baloo 2 Variable';
  font-style: normal;
  font-display: auto;
  font-weight: 400 800;
  src: url(@fontsource-variable/baloo-2/files/baloo-2-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* montserrat-latin-wght-normal */
@font-face {
  font-family: 'Montserrat Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/montserrat/files/montserrat-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@layer utilities {
  .mask-gradient-bottom {
    mask-image: linear-gradient(to top, transparent 0%, black 10%, black 98%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 10%, black 98%);
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #d7d7d7;
    border-radius: 12px;
  }

  .box-shadow-custom {
    box-shadow: 0 0 10px #434343;
  }

  .font-baloo {
    font-family: 'Baloo 2 Variable', system-ui;
  }

  .font-montserrat {
    font-family: 'Montserrat Variable', system-ui;
  }
}